body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: row-reverse; */
}

ul li {
    list-style: none;
    color: #fff;
    font-size: 9rem;
    font-weight: bold;
    letter-spacing: 10px;
    filter: blur(1px);
    transition: 2.0s;
}

ul li:hover,
ul li:hover ~ li {
    transform: translateY(-400px);
    transition: 2.0s;
    cursor: pointer;
    filter: blur(30px);
    opacity: 0;
}